@import "./variables.scss";
@import "./hero.scss";
@import "./projects.scss";
@import "./navbar.scss";
@import "./about.scss";
@import "./tools.scss";
@import "./carousel.scss";
@import "./reviews.scss";
@import "./contact.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: $black
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  padding-top: 80px;
}

section {
  padding-left: clamp(1.5rem, 5vw, 6rem);
  padding-right: clamp(1.5rem, 5vw, 6rem);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
