.heroTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 2rem;
  background-color: $black;
 
  h1 {
    color: $gradient-primary !important;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

}